body {
	font-family: 'Noto Serif', Georgia, serif;
	color: #222222;
	font-size: 1em; /* 16px */
	line-height: 1.5;
	max-width: 1400px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-family: Oswald, Arial, sans-serif;
	line-height: 1;
	margin: 0.33333333333333em 0;
}

h1 {
	font-size: 3em; /* 48px */
	text-transform: uppercase;
	margin: 0.5em 0;
}
h2 {
	font-size: 1.5em; /* 48px */
	color: #D5664D;
}

p {
	margin: 1em 0; /*16px*/
}

a {
	text-decoration: none;
	color: #D5664D;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.container {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

/*============ TOP BAR ==========*/

	.bar-top {
		background-color: #756b67;
		padding: 0 1em;
	}

		.nav {
			overflow: hidden;
			height: 7em;
		}

		.logo {
			width: 20em;
			margin: 0 auto;
			padding-top: 0.5em;
			img {
				vertical-align: middle;
			}
		}

		.menu {
			margin: 0 auto;
			li {
				display: inline-block;
				padding: 0 0.2em;
				a {
					color: white;
					font: 100 1.5em Oswald, Arial, sans-serif; /*18px*/
					text-transform: uppercase;
					line-height: 3.75em;
					padding: 0 0.2em;
				}	
			}	
		}

.menu li a:hover {
	background-color: black;
	text-decoration: none;
}

/*============ CONTENT ==========*/

.article {
	overflow: hidden;
	padding-left: 0.3em;
	padding-right: 0.3em;
	
	.header {
		padding: 0 1em;
		h1 {
			margin-bottom: 0.5em;
		}
		p {
			font: 100 1.0em Oswald, Arial, sans-serif; /*18px*/
			margin-top: 0;
		}
	}

	.content {
		padding: 0 1em;

		blockquote {
			margin: 1.5em 0 0 3em;
			overflow: hidden;

			p {
				font: 100 1.4em Georgia, serif;
				font-style: italic;
				line-height: 1.3;
			}
			
			[rel="author"] {
				font: 100 1.1em Oswald, Helvetica, sans-serif; /*17px*/
				color: black;
				margin-top: 0;
				margin-bottom: 1.5em;
				margin-right: 1.5em;
				padding: 0;
				float: right;
			}
		}


		figure {
			width: auto;
			margin: 0 auto;
			padding: 2em 0;

			figcaption {
				text-decoration: none;
				color: black;
				font: 100 20px Oswald, Helvetica, sans-serif;
				text-align: right;
			}
		}
		
	}
}

/*============ RELATED ==========*/

.related {
	padding: 1em;
}

.linkset a {
	text-decoration: none;
	color: black;
}

.linkset a:hover {
	text-decoration: underline;
}

.linkset li {
	font-weight: bold;
	list-style-type: square;
	margin: 0 0 0 1em;
}

/*============ FOOTER ==========*/

.footer {
	width: 100%;
	overflow: hidden;

	.byline {
		float: left;
		img {
			height: 6.25em; 
			width: 6.25em; 
			border-radius: 50%;
			margin: 1.25em 1.25em 0;
		}

		figcaption {
			text-align: center;
			color: black;
			font: 100 2em Oswald, Helvetica, sans-serif;
		}

		a {
			color: inherit;
		}
	}

	.share {
		font-size: 1.7em;
		font-family: Oswald, Helvetica, sans-serif; 
		font-weight: 100;
		text-align: center;

		p {
			margin-bottom: 0.5em;
		}

		li {
			display: inline-block;
			padding: 0 0.4em; /*8px*/
			margin: 0 0.3em;
		}	
	}	
	.icon {
		height: 1.6em;
		width: 1.6em;
		border-radius: 50%;
		text-align: centre;
		line-height: 1.6em;
		position: relative;
		margin-bottom: 1em;

		img {
			padding-top: 20%;
			height: 65%;
		}
	}

	.tw {
		background-color: #35BFE4;
	}

	.fb {
		background-color: #2845E4;
	}

	.gg {
		background-color: #E43119;
	}

	.icon:hover {
		background-color: #fff;
	}
}



/*============ COMMENTS ==========*/

.comments {
	background-color: #1c1e1e;
	padding: 1em;
	color: #EEE;

	.form-comment input, .form-comment textarea {
		border: none;
		background-color: #fff;
		padding: 1em;
		width: 100%;
		margin: 0.5em 0;
	}
	input[name="email"] {
		width: 77%;
		float: left;
	}
	.form-comment button {
		width: 20%;
		height: 2.3em;
		font: 100 1.4em Oswald, Helvetica, sans-serif;
		margin-left: 2.5%;
		background-color: #D5664D;
		color: #fff;
		border-radius: 0.5em;
		border: none;
		float: right;
		margin-top: 0.4em;
		margin-bottom: 0.5em;
	}
	.reply {
		border: none;
		border-radius: 0.3333333em;
		background-color: #DDD;
		float: right;
	}
	.comment {
		overflow: hidden;
	}
	.commentors {
		color: gray;
		font-family: Georgia;
		h4 {
			font: 100 35px Oswald, Helvetica, sans-serif;
		}
	
		.comment-body {
			overflow: hidden;
			button {
				height: 50px;
				width: 130px;
			  	background-color: white;
			  	border: 0;
			  	border-radius: 13px;
			  	color: black;
			  	font: 100 25px Oswald, Helvetica, sans-serif;
			  	text-decoration: none;
		  	}
		}
	}
}


/*============ BOTTOM BAR ==========*/

.bar-bottom {
	background-color: #e1e0e2;
	padding: 1em;
}

.connect li {
	display: inline-block;
	a {
		font-family: Socialico;
		font-size: 3em;
		color: #D5664D;
	}
}



