@media (min-width: 700px) {

/*============ TOP BAR ==========*/
	.nav {
		height: 4em;
	}

	.logo {
		padding-left: 1em;
		padding-top: 0;
		line-height: 4;
		float: left;
	}

	.menu-right {
		float: right;
		overflow: hidden;
	}

	.menu {
		overflow: hidden;
		background: none;
		padding-left: 0;

		a {
			padding-bottom: 1em;
		}
	}

/*============ CONTENT ==========*/
	.article {
		.header {
			padding-top: 0;
		}	

		p {
			font-size: 1.0625em; /*17px*/
 			margin: 0.11764705882353em;
		}
	}

/*============ FOOTER ==========*/

	.footer {
		padding: 0 1em;
		.byline img {
			height: 13em;
			width: 13em;	
		}
	}	
}







@media (min-width: 960px) {

	.main {
		overflow: hidden;
	}

/*============ TOP BAR ==========*/

	.menu li {
		padding: 0 1em; /*15px*/
	}		

/*============ CONTENT ==========*/
	
	.article {
		overflow: hidden;

		.content {
			width: 75%;
			float: left;
		}
	}

/*============ FOOTER ==========*/

	.footer {
		width: 25%;
		float: right;
		.byline { 
			float: none;
			img {
				text-align: center;
			}
		}


	.share li {
		display: block;
		margin: 0.5em auto;

	}

	.icon {
		height: 3em;
		width: 3em;
		margin: 0 auto;
		line-height: 3em;
		img {
			height: 80%;
		}
	}

}

/*============ COMMENTS ==========*/
	.comment {
		overflow: hidden;
		width: 75%;
	}
	.comment-body {
		overflow: hidden;
		width: 75%;
	}

/*============ BOTTOM BAR ==========*/

	.bar-bottom {
		background-color: white;
		margin-top: 80px;
		overflow: hidden;
		.about {
			width: 50%;
			float: left;
		}
		.socialize {
			width: 50%;
			float: right;
			text-align: right;
		}
	}

}